<!DOCTYPE html>
<html>
<head>
<title>AWS Lab</title>
</head>
<body>

<h1>AWS Lab</h1>
<p>{{ today }}</p>
<p>aws-vault exec <USER> --duration=2h</p>

<div>
  <h2>Create DB Super User</h2>
  <hr/>
  <h3>Connect to Bastion</h3>
  <p>ssh ec2-user@[host]</p>
  <p>$(aws ecr get-login --no-include-email --region eu-west-2)</p>
  <br>
  <h3>Create Super User</h3>
  <p>
    docker run -it -e DB_HOST=<DB_HOST> -e DB_NAME=cld* -e DB_USER=cld*app -e DB_PASS=c****** 063551127150.dkr.ecr.eu-west-2.amazonaws.com/cld-nine-app-api-devops:latest sh -c "python manage.py wait_for_db && python manage.py migrate &&cpython manage.py createsuperuser"
  </p>
  <hr/>
  <h2>Testing</h2>
    <p>api.staging.cld-nine.co.uk/api/user/create/</p>
    <p>api.staging.cld-nine.co.uk/api/user/token/</p>
</div>

<div>
  <h1>Terraform</h1>
    <p>docker-compose -f deploy/docker-compose.yml terraform init</p>
    <p>docker-compose -f deploy/docker-compose.yml run --rm terraform fmt</p>
    <p>docker-compose -f deploy/docker-compose.yml run --rm terraform validate</p>
    <p>docker-compose -f deploy/docker-compose.yml terraform workspace list</p>
    <p>docker-compose -f deploy/docker-compose.yml terraform plan</p>
    <p>docker-compose -f deploy/docker-compose.yml terraform apply</p>
    <p>docker-compose -f deploy/docker-compose.yml terraform destroy</p>
</div>

</body>
</html>